_build
cover
deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

/dusk/_build/
/dusk/cover/
/dusk/deps/
/dusk/doc/
/dusk/.fetch
erl_crash.dump
*.ez
dusk-*.tar
npm-debug.log
node_modules/
services/*/priv/static/
npm-debug.log*
yarn-error.log*

.vscode

logs
*.log

*.tar.gz
*.zip
*.rar
*.7z

.env
.env.*
env.sh

*.bat