_build
cover
deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

/dusk/_build/
/dusk/cover/
/dusk/deps/
/dusk/doc/
/dusk/.fetch
erl_crash.dump
*.ez
dusk-*.tar

npm-debug.log*
yarn-error.log*

node_modules/
cryptum/services/*/priv/static/

.vscode
logs
*.log

*.tar.gz
*.zip
*.rar
*.7z

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
env.sh

*.bat

.next/
out/
.next/telemetry.json

.DS_Store

.idea/
*.sublime-project
*.sublime-workspace

*.tsbuildinfo

coverage/

*.pem
*.key

bun.lockb
/backend/temp/latex/
