services:
  frontend:
    build: ./frontend
    ports:
      - "3117:3117"
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_DB=${MYSQL_DB}
      - MYSQL_PORT=${MYSQL_PORT}
      - DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - POOL_SIZE=${POOL_SIZE}
      - PORT=${PORT}
      - MIX_ENV=prod
      - GUARDIAN_SECRET=${GUARDIAN_SECRET}
      - PHX_HOST=${PHX_HOST}
      - DNS_CLUSTER_QUERY=${DNS_CLUSTER_QUERY}
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysql -uroot -p$${MYSQL_ROOT_PASSWORD} -e 'SELECT 1' || exit 1",
        ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 80s

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  mysql_data:
