_build
deps
priv/static/assets
priv/repo/migrations
test_coverage
*.eexc
*.beam
*.dbe
*.so
erl_crash.dump
cover
.elixir_ls/

node_modules/
npm-debug.log*
yarn-error.log*

.idea
.vscode
*.swp
*.swo
.DS_Store

Thumbs.db

logs
*.log

*.tar.gz
*.zip
*.rar
*.7z

.env
.env.*
env.sh

.dialyzer_core.plt