@use "../layout.scss" as vars;

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_body {
    background-color: #ffffff;
    @include vars.flexbox_column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.login_form {
    @include vars.flexbox_column;
    gap: 50px;
}

.forgot_password_link {
    margin-top: 20px;
    color: #000000;
}
