$background-color: #00171F;
$foreground-color: #003459;
$buttons-background-color: #007EA7;
$buttons-hover-background-color: #00A8E8;
$success-green: #3EC300;
$error-red: #FF1D15;

@mixin flexbox_column {
    display: flex;
    flex-direction: column;
    justify-content: center
};

html, body {
    background-color: $background-color;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.auth_input_div {
    @include flexbox_column;
    gap: 10px;
}

.auth_input {
    outline: none;
    padding: 5px;
    width: 350px;
    border: none;
    border-bottom: solid 1px $background-color;
    background: none;
    font-size: 18px;
}

.submit_button {
    background-color: $buttons-background-color;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}

.submit_button:hover {
    background-color: $buttons-hover-background-color;
}

.auth_error_div {
    background-color: $error-red;
    color: #ffffff;
    min-height: 25px;
    width: 350px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}
